*{
    margin: 0;
    padding: 0;
}

#lista-filmes{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2rem;
}

.card {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 0.5%;
  }

